<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
                <typeAlias type="net.haebang.vo.EmployeeVo" alias="employeeVo"/>
                <typeAlias type="net.haebang.vo.MemberVo" alias="memberVo"/>
                <typeAlias type="net.haebang.vo.MapVo" alias="mapVo"/>
                <typeAlias type="net.haebang.vo.CompanyVo" alias="companyVo"/>
                <typeAlias type="net.haebang.vo.JoinEmployeeVo" alias="joinEmployeeVo"/>
                <typeAlias type="net.haebang.vo.NoticeBoardVo" alias="noticeBoardVo"/>
                <typeAlias type="net.haebang.vo.QnAVo" alias="QnAVo"/>
                <typeAlias type="net.haebang.vo.OrderEmployeeVo" alias="orderEmployeeVo"/>
                <typeAlias type="net.haebang.vo.OrderMemberVo" alias="orderMemberVo"/>
                <typeAlias type="net.haebang.vo.ServiceVo" alias="serviceVo" />
                <typeAlias type="net.haebang.vo.ScheduleModifyVo" alias="scheduleModifyVo"/>
				<typeAlias type="net.haebang.vo.ReplyVo" alias="ReplyVo"/>
        </typeAliases>
</configuration>

