<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.haebang.admin.dao.AdminDao">

<!-- 
	<resultMap type="memberVo" id="memberVo">
   </resultMap>
 -->
 	<!-- 해방회원 전체조회  -->
 	<select id="selectMemberList" resultType="memberVo">
 		select m_no, m_id, m_phone, m_name, date_format(m_joinDate,'%Y-%m-%d') as m_joinDate, m_address
 		from t_member
 		where m_type = 'm'
 	</select>
 	
 	<!-- 비회원 전체조회  -->
 	<select id="selectNoneMemberList" resultType="memberVo">
 		select m_no, m_name, m_phone, m_address, m_owner
 		from t_member
 		where m_type = 'b'
 	</select>
 	
 	
 	 	<!-- 조건 선택 해방회원  -->
 	<select id="memberSelected" resultType="memberVo" parameterType="memberVo">
 		select m_no, m_id, m_phone, m_name, date_format(m_joinDate,'%Y-%m-%d') as m_joinDate, m_address, m_owner
 		from t_member
 		where 
 			m_type=#{m_type} 
			AND
 			<if test="m_id != null" >m_id like CONCAT('%',#{m_id},'%')</if>
 			<if test="m_name != null" >m_name like CONCAT('%',#{m_name},'%')</if>
 			<if test="m_phone != null" >m_phone like CONCAT('%',#{m_phone},'%')</if>
 			<if test="m_no != 0" >m_no = #{m_no}</if>
 	</select>
 	
 	
 	<!-- 해방업체리스트 전체 조회 -->  <!-- 사장 이름 . vo는? 두개?? -->
 	<select id="selectHbCompanyList" resultType="companyVo">
 		select c_no, c_code, c_name, c_address, c_phone, date_format(c_regDate,'%Y-%m-%d') as c_regDate, c_bizNo, c_empCnt
 		from t_company
 		where c_code is not NULL
 	</select>
 	
 	<!-- 일반업체리스트 전체 조회 -->
 	<select id="selectNCompanyList" resultType="companyVo">
 		select c_name, c_address, c_phone, date_format(c_signDate, '%Y-%m-%d') as c_signDate, c_bizNo
 		from t_company
 		where c_code is NULL
 	</select>
 	
  	<!-- 해방업체리스트 조건 검색 -->
 	<select id="searchHbCompanyList" resultType="companyVo" parameterType="companyVo">
 		select c_code, c_name, c_address, c_phone, date_format(c_regDate,'%Y-%m-%d') as c_regDate, c_bizNo, c_empCnt
 		from t_company
 		where
 			c_code is not NULL
 			AND
 			<if test="c_name != null" >c_name like CONCAT('%',#{c_name},'%')</if>
 			<if test="c_address != null" >c_address like CONCAT('%',#{c_address},'%')</if>
 			<if test="c_bizNo != null" >c_bizNo = #{c_bizNo}</if>
 			<if test="c_code != null" >c_code = #{c_code}</if>
 	</select>
 	
 	<!-- 일반업체리스트 조건 검색 -->
 	<select id="searchNCompanyList" resultType="companyVo" parameterType="companyVo">
 		select c_code, c_name, c_address, c_phone, date_format(c_regDate,'%Y-%m-%d') as c_regDate, c_bizNo, c_empCnt
 		from t_company
 		where
 			c_code is NULL
 			AND
 			<if test="c_name != null" >c_name like CONCAT('%',#{c_name},'%')</if>
 			<if test="c_address != null" >c_address like CONCAT('%',#{c_address},'%')</if>
 			<if test="c_bizNo != null" >c_bizNo = #{c_bizNo}</if>
 	</select>
 
 
</mapper>