<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.haebang.admin.dao.AdminDao">

<!-- 
	<resultMap type="memberVo" id="memberVo">
   </resultMap>
 -->
 	<!-- 해방회원 전체조회  -->
 	<select id="selectMemberList" resultType="memberVo">
 		select m_no, m_id, m_owner, m_phone, m_name, date_format(m_joinDate,'%Y-%m-%d') as m_joinDate, m_address
 		from t_member
 		where m_type = 'm'
 	</select>
 	<!-- 비회원 전체조회  -->
 	<select id="selectNoneMemberList" resultType="memberVo">
 		select m_no, m_id, m_owner, m_phone, m_name, date_format(m_joinDate,'%Y-%m-%d') as m_joinDate, m_address
 		from t_member
 		where m_type = 'b'
 	</select>
 	 <!-- 회원 조건 선택   -->
 	<select id="memberSelected" resultType="memberVo" parameterType="memberVo">
 		select m_no, m_id, m_owner, m_phone, m_name, date_format(m_joinDate,'%Y-%m-%d') as m_joinDate, m_address
 		from t_member
 		where 
 			m_type=#{m_type} 
			AND
 			<if test="m_id != null" >m_id like CONCAT('%',#{m_id},'%')</if>
 			<if test="m_name != null" >m_name like CONCAT('%',#{m_name},'%')</if>
 			<if test="m_phone != null" >m_phone like CONCAT('%',#{m_phone},'%')</if>
 			<if test="m_no != 0" >m_no = #{m_no}</if>
 	</select>
 	
 	
 	<!-- 리뉴얼 리스트 -->
 	<select id="selectHB" resultType="Map" parameterType="java.util.Map">
 		select c.c_no, c.c_name, e.e_name ,  c.c_address, c.c_phone, c.c_code, date_format(c.c_regDate,'%Y-%m-%d') as c_regDate, c.c_bizNo, c.c_empCnt
       from t_company c, t_employee e
       where 
          c.c_code is not NULL
          AND
          e.e_type = 'O'
          order by c_no
		limit #{startPoint}, #{row}
 	</select>
 	
 	<select id="selectN" resultType="Map" parameterType="java.util.Map">
      select  c.c_no, e.e_name, c.c_name, c.c_address, c.c_phone, date_format(c_signDate, '%Y-%m-%d') as c_signDate, c.c_bizNo, c.c_empCnt
       from t_company c, t_employee e
       where 
          c.c_code is NULL
          AND
          e.e_type = 'O'
          order by c.c_no
		limit #{startPoint}, #{row}
    </select>
 	
 	
 	
 	
 	<!-- 해방업체리스트 전체 조회 -->  
    <select id="selectHbCompanyList" resultType="hashMap">
       select c.c_no, c.c_name, e.e_name ,  c.c_address, c.c_phone, c.c_code, date_format(c.c_regDate,'%Y-%m-%d') as c_regDate, c.c_bizNo, c.c_empCnt
       from t_company c, t_employee e
       where 
          c.c_code is not NULL
          AND
          e.e_type = 'O' AND e.c_no = c.c_no
          order by c_no
    </select>
    <!-- 일반업체리스트 전체 조회 -->
    <select id="selectNCompanyList" resultType="hashMap">
      select  c.c_no, e.e_name, c.c_name, c.c_address, c.c_phone, date_format(c_signDate, '%Y-%m-%d') as c_signDate, c.c_bizNo, c.c_empCnt
       from t_company c, t_employee e
       where 
          c.c_code is NULL
          AND
          e.e_type = 'O' AND e.c_no = c.c_no
          order by c.c_no
    </select>
  	<!-- 해방업체리스트 조건 검색 -->
 	<select id="searchHbCompanyList" resultType="hashMap" parameterType="companyVo">
 		select  c.c_name, e.e_name ,  c.c_address, c.c_phone, c.c_code, date_format(c.c_regDate,'%Y-%m-%d') as c_regDate, c.c_bizNo, c.c_empCnt
 		from t_company c, t_employee e
 		where
 			c_code is not NULL
 			AND
 			e.e_type = 'O' AND e.c_no = c.c_no
 			AND
 			<if test="c_name != null" >c_name like CONCAT('%',#{c_name},'%')</if>
 			<if test="c_address != null" >c_address like CONCAT('%',#{c_address},'%')</if>
 			<if test="c_bizNo != null" >c_bizNo = #{c_bizNo}</if>
 			<if test="c_code != null" >c_code = #{c_code}</if>
 			order by c.c_no
 	</select>
 	<!-- 일반업체리스트 조건 검색 -->
 	<select id="searchNCompanyList" resultType="hashMap" parameterType="companyVo">
 		select  e.e_name, c.c_name, c.c_address, c.c_phone, date_format(c_signDate, '%Y-%m-%d') as c_signDate, c.c_bizNo, c.c_empCnt
 		from t_company c, t_employee e
 		where
 			c_code is NULL
 			AND
 			e.e_type = 'O' AND e.c_no = c.c_no
 			AND
 			<if test="c_name != null" >c_name like CONCAT('%',#{c_name},'%')</if>
 			<if test="c_address != null" >c_address like CONCAT('%',#{c_address},'%')</if>
 			<if test="c_bizNo != null" >c_bizNo = #{c_bizNo}</if>
 	</select>
 
 	<select id="selectTotal" parameterType="java.util.Map" resultType="Integer">
		select count(*) from t_company
	</select>
 
 	
 	<!-- 사업자 공지사항 리스트 조회   -->
 		<select id="getOwnerNoticeList" parameterType="java.util.Map" resultType="noticeBoardVo">
 			select n_no, n_writer, n_title, n_content, n_viewCnt, date_format( n_regDate, '%Y-%m-%d' ) as n_regDate, n_type
 			from t_notice
 			where
 				n_type = #{ n_type }
 				<if test="titlecontent != null">
	 				AND
 					(n_content like CONCAT('%',#{titlecontent},'%') or n_title like CONCAT('%',#{titlecontent},'%'))
 				</if>
 			order by n_no DESC
 			limit #{startPoint}, #{row}
 		</select> 
 	<!-- 사업자 공지사항 총 갯수  -->
 		<select id="selectTotalCount" parameterType="java.util.Map" resultType="Integer">
 			select count(*) 
 			from t_notice
 			where
 				n_type = #{ n_type }
 				<if test="titlecontent != null"> 
 					AND
 					(n_content like CONCAT('%',#{titlecontent},'%') or n_title like CONCAT('%',#{titlecontent},'%'))
 				</if>
 		</select>
 	<!-- 선택 공지사항 디테일  -->
		<select id="selectOneNDetailByNo" parameterType="noticeBoardVo" resultType="noticeBoardVo">
			 select n_no, n_writer, n_title, n_content, n_viewCnt, date_format( n_regDate, '%Y-%m-%d' ) as n_regDate, n_type
			 from t_notice 
			 where n_no = #{ n_no } 
		</select> 		
 	<!-- updateViewCnt ++   -->
 		<select id="updateViewCnt" parameterType="noticeBoardVo">
			update t_notice set n_viewCnt = #{n_viewCnt} where 	n_no = #{n_no}	
 		</select>
 	
 		<select id="insertNotice" parameterType="noticeBoardVo">
 			insert into t_notice(n_title, n_content, n_writer, n_type, n_fileOriName, n_fileSaveName)
 			values(#{n_title}, #{n_content}, #{n_writer}, #{n_type}, #{n_fileOriName}, #{n_fileSaveName})
 		</select>
 	<!-- 공지사항 업데이트  -->
 		<select id="updateNotice" parameterType="noticeBoardVo">
 			update t_notice 
 			set 
 				n_title = #{n_title}, n_content = #{n_content}, n_type = #{n_type} ,n_viewCnt = 0, n_regDate= now()
 			where
 				n_no = #{n_no} 
 		</select>
 		
 		<select id="deleteNotice" parameterType="Integer">
 			delete from t_notice where n_no = #{n_no}
 		</select>

<!-- 12/2일 지도 관련 주문정보 불러오기 창대 -->
 		<select id="selectAllMap" resultType="hashMap">
 		
<!--  		select t_m_order.mo_no, t_m_order.mo_orderNo, t_m_order.mo_startTime, t_e_order.eo_status, t_e_order.e_no, t_employee.e_name, t_member.m_name, t_member.m_address, t_member.m_lon, t_member.m_lat, t_member.m_gu
        from (((t_m_order inner join t_e_order on t_m_order.mo_no = t_e_order.mo_no)
        inner join t_member on t_m_order.m_no = t_member.m_no) inner join t_employee on t_employee.e_no = t_e_order.e_no) where date_format(t_m_order.mo_startTime, '%Y-%m-%d') = date_format(now(),'%Y-%m-%d');
 --> 
 	select allOrder.m_gu, allOrder.eo_status, count(allOrder.eo_status) as cnt from (select t_e_order.eo_status,  
	t_member.m_gu from 
	(((t_m_order inner join t_e_order on t_m_order.mo_no = t_e_order.mo_no)
       inner join t_member on t_m_order.m_no = t_member.m_no) 
       inner join t_employee on t_employee.e_no = t_e_order.e_no) 
       where date_format(t_m_order.mo_startTime, '%Y-%m-%d') = date_format(now(),'%Y-%m-%d') ) as allOrder group by m_gu, eo_status;
 		
 		</select>
 		
 		
 		<select id="getScheduleList123" parameterType="java.util.Map" resultType="java.util.HashMap">
 		select 
		m.m_name, m.m_address, m.m_phone, m.m_type, 
		date_format(mo.mo_startTime, '%Y-%m-%dT%H:%i:%s') as mo_startTime, date_format(mo.mo_endTime, '%Y-%m-%dT%H:%i:%s') as mo_endTime, mo.mo_orderNo, mo.mo_no, mo.mo_cnt, mo.mo_total, 
		e.e_name, e.e_phone, eo.eo_status, c.c_name
		from t_member m, t_m_order mo, t_employee e, t_e_order eo, t_company c where mo.m_no=m.m_no and eo.mo_no=mo.mo_no and e.e_no=eo.e_no and c.c_no=e.c_no 
		<if test='searchSchedule != null and (searchSchedule=="orderNo")'>
		and mo.mo_orderNo=#{word}
		</if>
		<if test='searchSchedule != null and (searchSchedule=="m_phone")'>
		and m.m_phone=#{word}
		</if>
		<if test='searchSchedule != null and (searchSchedule=="c_code")'>
		and c.c_code=#{word}
		</if>
		<if test='searchSchedule != null and (searchSchedule=="e_id")'>
		and e.e_id=#{word}
		</if>	
		and DATE(mo_startTime) between #{startDate} and #{endDate}		
		order by mo.mo_no DESC
		limit #{startPoint}, #{row}
 		</select>
 		
 		
 		<select id="selectTotalCountSchedule" parameterType="hashMap" resultType="Integer">
 		select count(*) from t_member m, t_m_order mo, t_employee e, t_e_order eo, t_company c where mo.m_no=m.m_no and eo.mo_no=mo.mo_no and e.e_no=eo.e_no and c.c_no=e.c_no
 		<if test="searchSchedule != null and (searchSchedule=='orderNo'.toString())">
		and mo.mo_orderNo=#{word}
		</if>
		<if test="searchSchedule != null and (searchSchedule=='m_phone'.toString())">
		and m.m_phone=#{word}
		</if>
		<if test="searchSchedule != null and (searchSchedule=='c_code'.toString())">
		and c.c_code=#{word}
		</if>
		<if test="searchSchedule != null and (searchSchedule=='e_id'.toString())">
		and e.e_id=#{word}
		</if>
		and DATE(mo_startTime) between #{startDate} and #{endDate}
 		</select>
 		
 		
 		<!-- 스케쥴 디테일 - mo_no 로 조회  -->
 		<select id="getScheduleByMONoByHB" parameterType="Integer" resultType="java.util.HashMap">
 	 	select m.m_name, m.m_address, m.m_phone, m.m_type, date_format(mo.mo_startTime, '%Y-%m-%dT%H:%i:%s') as mo_startTime, date_format(mo.mo_endTime, '%Y-%m-%dT%H:%i:%s') as mo_endTime, mo.mo_orderNo, mo.mo_no, mo.mo_svcName, mo.mo_freqType, mo.mo_freqCycle, mo.mo_cnt, mo.mo_total, mo.mo_memo, e.e_name, e.e_phone, eo.eo_memo, s.s_style, s.s_name
		from t_member m, t_m_order mo, t_employee e, t_e_order eo, t_service s where mo.mo_no=#{mo_no} and mo.m_no=m.m_no and eo.mo_no=mo.mo_no and e.e_no=eo.e_no and mo.s_no=s.s_no
		 </select>
	 
 	 	<select id="getScheduleByMONo" parameterType="Integer" resultType="java.util.HashMap">
	 	select m.m_name, m.m_address, m.m_phone, m.m_type, date_format(mo.mo_startTime, '%Y-%m-%dT%H:%i:%s') as mo_startTime, date_format(mo.mo_endTime, '%Y-%m-%dT%H:%i:%s') as mo_endTime, mo.mo_orderNo, mo.mo_no, mo.mo_svcName, mo.mo_freqType, mo.mo_freqCycle, mo.mo_cnt, mo.mo_total, e.e_name, e.e_phone, eo.eo_memo 
		from t_member m, t_m_order mo, t_employee e, t_e_order eo where mo.mo_no= #{mo_no} and mo.m_no=m.m_no and eo.mo_no=mo.mo_no and e.e_no=eo.e_no
		</select>
	
		<select id="getMtypebyMONo" parameterType="Integer" resultType="String">
 		select m_type from t_member m, t_m_order mo where m.m_no=mo.m_no and mo.mo_no=#{mo_no}
 		</select>
 		
 		<!-- 관리자 로그인  -->
 		<select id="loginAdmin" parameterType="java.util.HashMap" resultType="memberVo">
 		select * from t_member where m_id = #{m_id} and m_password = #{m_password} and m_type='A'
 		</select>
 		
 		
 		<!-- 메인 전체정보  -->
 		<select id="getMainInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select eo_status, m_gu
 		from ((select * from t_member) as m inner join t_m_order as mo on m.m_no = mo.m_no )inner join t_e_order on mo.mo_no = t_e_order.mo_no 
			 where DATE(mo.mo_startTime) = CURRENT_DATE(); 
 		</select>
 		
 		
 		<!-- 조건검색 - 오늘기준 서비스 진행 될 구별 정보 가져오기 -->
 		<select id="searchGuInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select eo_status, m_gu, mo.mo_no, mo_orderNo
 		<if test='m_gu != null'>
 		from ((select * from t_member where m_gu = #{m_gu}) as m inner join t_m_order as mo on m.m_no = mo.m_no )inner join t_e_order on mo.mo_no = t_e_order.mo_no 
		where DATE(mo.mo_startTime) = CURRENT_DATE(); 
 		</if>
 		<if test='eo_status != null'>
		from ((select * from t_e_order where eo_status=#{eo_status})as eo inner join t_m_order as mo on eo.mo_no = mo.mo_no ) inner join t_member on t_member.m_no = mo.m_no
		 where DATE(mo.mo_startTime) = CURRENT_DATE(); 
 		</if>
 		</select>
 		
 	
</mapper>