<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.haebang.employee.dao.EmployeeDao">

	<!-- 로그인 -->
	<select id="login" parameterType="employeeVo" resultType="employeeVo"> 
		select e_name, e_type, c_no from t_employee where e_id = #{e_id} and e_password = #{e_password}		
	</select>
	
	<!-- 지도 -->
	<select id="selectAllmap" parameterType="employeeVo" resultType="mapVo">
		select m.m_name as m_name, m.m_address as m_address, e.e_name as e_name, eo.eo_status as eo_status 
		from t_member m, t_e_order eo, t_employee e, t_m_order mo 
		where e.c_no= #{c_no} and e.e_no = eo.e_no and eo.mo_no = mo.mo_no and mo.m_no = m.m_no;
	</select>
</mapper>
